* {
    margin: 0;
    padding:0;
}

/* Tipografías importadas  */

@font-face {
    font-family: zombie scary;
    src: url(Fuentes/Scary\ Zombie.otf);
}
@font-face {
    font-family: zombie carshel;
    src: url(Fuentes/Zombie\ Carshel.otf);
}
@font-face {
    font-family: monster;
    src: url(Fuentes/mrsmonster.ttf);
}
@font-face {
    font-family: delight;
    src: url(Fuentes/Delight\ Bold.ttf);
}

/* Diseño body, header, main y section "productos" */ 

body {
    background-image: url(Imagenes/lunar-midnight.gif);
}
header {
    background-color: #7a7adb;
    background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);
    font-size: 120%;
    padding: 0% 0% 0.5% 0%;
}
#inputEdad {
    font-size: 100%;
    font-family: zombie carshel;
    color: whitesmoke;
    letter-spacing: 4px;
    text-align: center;
    text-shadow:-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    margin-left: 10%;
}
.titulo {
    font-size: 520%;
    font-family: zombie scary;
    text-align: center;
    margin: 0% 0% 2% 0%;
    color:black;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-name: efecto_titulo;
}
    @keyframes efecto_titulo {
        100%  {
            text-shadow:-1px -1px 0 limegreen, 1px -1px 0 limegreen, -1px 1px 0 limegreen, 1px 1px 0 limegreen;
        }
}
.subtitulo {
    font-size: 260%;
    font-family: zombie carshel;
    text-align: center;
    margin: 3% 0% 2% 0%; 
    color: black;
    animation-duration: 3s;
    animation-name: aparecer;
 }
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 2;
    }
}
.texto {
    font-size: 190%;
    font-family: monster;
    color:black;
    text-align: center;
    float: left;
    margin: 6% 1% 0% 1%;
    text-indent: 1em;
    letter-spacing: 6px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.fotoDoctor {  
    width: 30%;
    margin: -23% 0.5% 0% 0%; 
    float: right;
} 
.categoria1 {
    font-size: 400%;
    font-family: delight;
    color: black;
    text-align: center;
    margin: 40% 0% 3% 0%;
    letter-spacing: 3px;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-name: color_categorias;
    cursor: pointer;
}
@keyframes color_categorias {  
    100% {
        background-color: #bf033b;
        background-image: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);       
    }
}
.categorias {
    font-size: 400%;
    font-family: delight;
    color: black;
    text-align: center;
    margin: 4% 0% 2% 0%;
    letter-spacing: 3px;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-name: color_categorias;
    cursor: pointer;
}
@keyframes color_categorias {  
    100% {
        background-color: #bf033b;
        background-image: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);       
    }
}
.fotosProductos {
    width: 30%;
    margin: 1% 35% 0% 35%;
}
.productos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 20px;
    margin: 4% 0% 0% 4%;
    font-size: 140%;
    font-family:  monster;
    letter-spacing: 2px;
    text-shadow:-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.productos button {
    letter-spacing: 2px;
    text-shadow:-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Pie de página */ 

footer {
    font-size: 100%;
    background-color:black;
    margin: 3% 0% 0% 0%;
    text-align: center;
}
footer p {
    font-size: 160%;
    font-family: monster;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bolder;
    margin: 1% 0% 0% 0%;
}
footer a img {
    display: flex;
    flex-direction: row;
    width: 2%;
    height: 3%;
    margin: -2.3% 0% 0% 41.5%;
    float: left;
 } 

 /* HTML Carrito */

#inputInicio {
    font-family: zombie carshel;
}
.carrito {
    margin: -3.5% 0% 0% 35%;
}
.carrito label {
    font-size: 110%;
    font-family: monster;
    letter-spacing: 2px;
    text-indent: 12px;
}
#confirmarPedido {
    font-family: monster;
}

/* Media Queries index HTML */

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        float: none;
    }
    #inputEdad {
        text-align: center;
    }
    .titulo {
        width: 100%;
        float: none; 
        margin: 0% 0% 0% -1.5%;
    }
    .subtitulo {
        width: 100%;
        text-align: center;
    }
    .fotoDoctor {
        width: 80%;
        float: none;
        margin: 3% 0% 0% 9%;
    }
    .categoria1 {
        width: 100%;
        float: none;
        margin: 3% 1.5% 0% 0%;
    }
    .categorias {
        width: 100%;
        float: none;
    }
    .fotosProductos {
        width: 50%;
        margin: 0% 25% 0% 25%;
    }
    .productos {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-column-gap: 20px;
        margin: 4% 0% 0% 9.5%;
    }
    .productos button {
        margin: 5% 0% 2% 0%;
    }
    footer {
        font-size: 86%;
    }
    footer a img {
        width: 6%;
        height: 8%;
        margin: -7.7% 0% 0% 25%;
        float: left;
    }
 }

 /* Media Queries carrito HTML*/

 @media screen and (max-width: 480px) {
    #inputInicio {
        font-size: 180%;
        margin: 2% 0% 3% 13%;
    }
    .card {
        max-width: 100%;
    }
    .carrito {
        margin: -3% 0% 0% 0%;
    }
  }
